inherit_mode:
  merge:
    - Exclude

require:
  - standard
  - rubocop-performance

inherit_gem:
  standard: config/base.yml
  standard-performance: config/base.yml
  standard-custom: config/base.yml

inherit_from:
<% plugins.each do |plugin| %>
  - <%= plugin %>
<% end %>
  - .rubocop/strict.yml

AllCops:
  NewCops: disable
  SuggestExtensions: false
  TargetRubyVersion: <%= ruby_version %>